server {
    listen 443 ssl;
    server_name ${SERVER_NAME};

    root /usr/share/nginx/html;
    index index.html;

    include /etc/nginx/conf.d/snippets/ssl.conf;
    include /etc/nginx/conf.d/snippets/legal.conf;
}
