server {
    listen 443 ssl;
    server_name auth.${SERVER_NAME};

    include /etc/nginx/conf.d/10-ssl.conf;

    location / {
        include /etc/nginx/conf.d/15-proxy-headers.conf;
        proxy_pass http://keycloak:8080;
    }

    location /admin {
        return 403;
    }

    location /realms/master {
        return 403;
    }
}
