services:
    nginx:
        image: nginx:1.29
        container_name: heracles-nginx
        restart: always
        environment:
            - SERVER_NAME=${SERVER_NAME}
        volumes:
            - ./nginx/templates:/etc/nginx/templates:ro
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/legal/legal.html:/usr/share/nginx/html/legal.html:ro
            - certbot_conf:/etc/letsencrypt
        ports:
            - "80:80"
            - "443:443"
        networks:
            - heracles_network

    certbot:
        image: certbot/dns-ovh:latest
        container_name: heracles-certbot
        volumes:
            - certbot_conf:/etc/letsencrypt
            - ./ovh.ini:/ovh.ini:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
        environment:
            - OVH_ENDPOINT=ovh-eu
        entrypoint: >
            sh -c "trap exit TERM;
                    while :; do
                        certbot renew --dns-ovh --dns-ovh-credentials /ovh.ini --dns-ovh-propagation-seconds 120 --deploy-hook 'touch /etc/letsencrypt/.reload_nginx';
                        sleep 12h;
                    done"

volumes:
    certbot_conf:

networks:
    heracles_network:
        external: true
